@media screen and (min-width: 1024px) {
    .emailsmswrapper {
        width: 50%;
    } 
}

.mail-or-sms-choice {
    padding-left: 5px;
    vertical-align: text-bottom;
}

/* Yuri Lima div_uatiz_template_subject */
.div_uatiz_template_subject {
    margin-top: 20px;
}

.check_label {
    border: none !important;
}
/* Yuri Lima check_div_uatiz */
.check_div_uatiz {
    margin-top: 20px;
}

/* Yuri Lima margin-top from 80px to 0px */
.check_div_mail {
    margin-top: 0px;
} 

.check_div_sms {
    margin-bottom: 10px;
}

input.check_label.radio {
    float: left;
}

#charNum {
    padding: 10px;
}